<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li i18n
        class="breadcrumb-item">Administration</li>
    <li i18n
        class="breadcrumb-item active"
        aria-current="page">Users</li>
  </ol>
</nav>

<cd-table [data]="users"
          columnMode="flex"
          [columns]="columns"
          identifier="username"
          selectionType="single"
          (updateSelection)="updateSelection($event)">
  <div class="table-actions">
    <div class="btn-group" dropdown>
      <button type="button"
              class="btn btn-sm btn-primary"
              *ngIf="!selection.hasSingleSelection"
              routerLink="/users/add">
        <i class="fa fa-fw fa-plus"></i><span i18n>Add</span>
      </button>
      <button type="button"
              class="btn btn-sm btn-primary"
              *ngIf="selection.hasSingleSelection"
              routerLink="/users/edit/{{ selection.first()?.username }}">
        <i class="fa fa-fw fa-pencil"></i><span i18n>Edit</span>
      </button>
      <button type="button" dropdownToggle class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split">
        <span class="caret"></span>
        <span class="sr-only"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/users/add"><i class="fa fa-fw fa-plus"></i><span i18n>Add</span></a>
        </li>
        <li role="menuitem"
            [ngClass]="{'disabled': !selection.hasSingleSelection}">
          <a class="dropdown-item" routerLink="/users/edit/{{ selection.first()?.username}}"><i class="fa fa-fw fa-pencil"></i><span i18n>Edit</span></a>
        </li>
        <li role="menuitem"
            [ngClass]="{'disabled': !selection.hasSingleSelection || selection.first().executing}">
          <a class="dropdown-item" (click)="deleteUserModal()"><i class="fa fa-fw fa-trash-o"></i><span i18n>Delete</span></a>
        </li>
      </ul>
    </div>
  </div>
</cd-table>

<ng-template #userRolesTpl
             let-value="value">
  <span *ngFor="let role of value; last as isLast">
    {{ role }}{{ !isLast ? ", " : "" }}
  </span>
</ng-template>
