<tabset>
  <tab heading="Users"
       i18n-heading
       [active]="url === '/user-management/users'"
       (select)="navigateTo('/user-management/users')">
  </tab>
  <tab heading="Roles"
       i18n-heading
       [active]="url === '/user-management/roles'"
       (select)="navigateTo('/user-management/roles')">
  </tab>
  <tab heading="Single Sign-On"
       i18n-heading
       [active]="url === '/user-management/sso'"
       (select)="navigateTo('/user-management/sso')">
  </tab>
</tabset>
